<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4 align="center"> 节点地址展示数据！</h4>

<table border="1">
    <tr>
        <th>服务器IP</th>
        <th>节点名称</th>
        <th>Bee地址</th>
        <th>服务状况</th>
        <th>出票数</th>
    </tr>
    <tr th:each="server:${servers}">
        <td th:text="${server.nodeIp}"></td>
        <td th:text="${server.nodeName}"></td>
        <td th:text="${server.nodeAddress}"></td>
        <td th:text="${server.nodeStatus} eq 1 ? '正常':'异常'"></td>
        <td th:text="${server.nodeTicketNum}"></td>
    </tr>
</table>
</body>
</html>