<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!--使用Bootstrap的js插件，必须先调入jQuery-->
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <title>Title</title>

</head>
<body>

<div align="center" style="align-items: center; padding-top: 50px">
<form style="align-items: flex-end" role="form" action="/v1/api/sendFile" method="get">
    <div class="form-group" >
        <label style="align-items: normal">bee 版本信息：<br></label>
        <input type="text" style="width: 60%" class="form-control" name="beeversion">
        <p> 参考为：https://github.com/ethersphere/bee/releases/download/v0.6.2/bee_0.6.2_386.rpm </p>
    </div>
    <div class="form-group">
        <label style="align-items: normal">rpm 文件名：<br></label>
        <input type="text" style="width: 60%" class="form-control" name="beerpm">
        <p> 参考为：bee_0.6.2_386.rpm </p>
    </div>
    <div class="form-group">
        <label style="align-items: normal"> 是否铲除原矿机中bee程序? </label>
        <label><input name="remove" type="radio" value="1" > 是 </label>
        <label><input name="remove" type="radio" value="0"> 否 </label>
    </div>
    <input class="btn btn-success" type="submit" name="提交">
</form>
</div>
</body>
</html>